@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
/* changes how the content box looks */

#header {
  padding: 60px;
  width: 100%;
  height: 600px;
  text-align: center;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}



div {
  display: inline-block;
  vertical-align: top;
  float: center;
  width: 400px;
  padding: 20px;
  padding-bottom: 3vw;
  border: 4px dashed saddlebrown;
  background-color: white;
  border-radius: 10px;
  box-sizing: border-box;
}

#nav a {
  color: saddlebrown;
  font-size: 30px;
  padding-right: 15px;
  font-family: Georgia;
}

h3 {
  color: saddlebrown;
  text-align: center;
  font-size: 40px;
  font-family: Sigmar One;
}

#contributor {
  color: white;
}
/* changes how the entire page background looks */
body {
  background-color: #FFF0D9;
}

/* changes how the title looks */
h1 {
  font-family: Sigmar One;
  font-style: bold;
  color: white;
  text-align: center;
  font-size: 80px;
}

/* changes how the quote looks */
h2 {
  font-style: italic;
  color: #DEB887;
  text-align: center;
  font-size: 40px;
}

/* changes how the box titles look */
h4 {
  font-family: Sigmar One;
  font-size: 30px;
  color: saddlebrown;
  text-align: center;
}

/* changes how the list items look */
li {
  font-family: Georgia;
}

/* changes how the content looks */
ul {
  list-style-type: circle;
}

/* changes how the boxes behave */
#directions li span {
  font-style: bold;
  color: red;
}

#ingredients li span {
  font-style: italic;
  color: #DEB887;
}

/* changes how the entire page behaves with size changes */
@media (orientation:portrait) {
  div {
    width: 95vw;
  }
  img {
    width: 95vw;
    align: center;
    padding: 10px;
  }
}

/* to change the color on click */

#title.clicked {
  color: orange;
}